.contenedor-anuncios {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.anuncio {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
}

.anuncio picture,
.anuncio img {
    width: 100%;
    height: auto;
    display: block;
}

.contenido-anuncio {
    padding: 2rem;
    flex: 1;
}

.precio {
    color: #71b100;
    font-weight: bold;
    font-size: 2rem;
}
